<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Autocomplete Search</title>
    <link rel="stylesheet" href="static/css/style.css" />
  </head>
  <body>
    <h1>Bible Verse Search</h1>
    <form>
      <input
        type="text"
        id="searchBox"
        placeholder="Enter your search query..."
      />
      <button type="button" id="searchBtn">Search</button>
    </form>
    <div id="suggestionList"></div>
    <script src="static/js/script.js"></script>
  </body>
</html>
